.ribbons-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    /* Pass through clicks */
    overflow: hidden;
    z-index: 0;
}